<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://casm.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>waws-prod-bay-005.publish.azurewebsites.windows.net:443</MSDeployServiceURL>
    <DeployIisAppPath>casm</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$casm</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="True">
          <Destination Path="Data Source=tcp:a0d77gt1jq.database.windows.net,1433;Initial Catalog=casm;User ID=casm_user@a0d77gt1jq;Password=1FLYhigh" Name="Data Source=tcp:a0d77gt1jq.database.windows.net,1433;Initial Catalog=casm;User Id=casm_user@a0d77gt1jq;Password=1FLYhigh" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="Jobney.Casm.Data.DataContext, Jobney.Casm.Data" MigrationConfiguration="Jobney.Casm.Data.Migrations.Configuration, Jobney.Casm.Data" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:a0d77gt1jq.database.windows.net,1433;Initial Catalog=casm;User Id=casm_user@a0d77gt1jq;Password=1FLYhigh</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>