<div data-ng-app="Jobney.Casm.TripInfoApp">
    <div toaster-container toaster-options="{'time-out': 3000}"></div>
    <div data-ui-view=""></div>
</div>

@section scripts
{
    <!-- Start ng-base -->
    @Scripts.Render("~/bundles/ng-base")
    
    <!-- Start ng-shared-services -->
    @Html.Partial("_SharedServices")
    
    <!-- Start ng-tripinfo-app -->
    @Html.Partial("_TripInfoAppSetup")
}