/*#region Base */



/*#endregion */

/*#region Validation */

.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

/*#endregion */

/*#region Bootstrap/Theme overrides */

.tab-bar > li {
    min-width: 75px;
    text-align: center;
}

.panel.panel-default {
    border-color: #DAE3F1;
    -webkit-box-shadow: 0 0 3px 0 #FFF;
    -ms-box-shadow: 0 0 3px 0 #FFF;
    box-shadow: 0 0 3px 0 #FFF;
}

.dropdown-menu li a:hover, .dropdown-menu li a:focus {
    background: #68010B;
    color: #FFF;
}

.brand a {
    color: #FFF;
}

/*#endregion */

/*#region UI Sortable */

.ui-sortable-helper {
    background: #FFF;
    -webkit-box-shadow: 0 0 5px #000;
    -ms-box-shadow: 0 0 5px #000;
    box-shadow: 0 0 5px #000;
    -ms-opacity: 0.7;
    opacity: 0.7;
}

.drop-placeholder {
    background: #ECF1FD;
    height: 50px;
}

/*#endregion */



/*#region Trip Info Page */

.trip-remove {
    display: none;
}

tr:hover .trip-remove {
    display: initial;
}

.map.tripInfoMap {
    height: 100px;
}

/*#endregion */