@model Jobney.Casm.Web.Models.ManageDataBootstrapper
<div data-ng-app="Jobney.Casm.ManageApp" data-ng-controller="ManageAppCtrl">
    <ul class="tab-bar grey-tab">
        <li ng-class="{'active': activeClass('pilots')}">
            <a data-ui-sref="pilots">
                <span class="block text-center">
                    <i class="fa fa-user fa-2x"></i>
                </span>
                Pilots
            </a>
        </li>
        <li ng-class="{'active': activeClass('passengers')}">
            <a data-ui-sref="passengers">
                <span class="block text-center">
                    <i class="fa fa-users fa-2x"></i>
                </span>
                Passengers
            </a>
        </li>
        <li ng-class="{'active': activeClass('airplanes')}">
            <a data-ui-sref="airplanes">
                <span class="block text-center">
                    <i class="fa fa-plane fa-2x"></i>
                </span>
                Airplanes
            </a>
        </li>
    </ul>

    <div data-ui-view></div>
</div>

@section scripts
{
    @Scripts.Render("~/bundles/ng-base")
    @Html.Partial("_ManageAppSetup", Model)
    @Scripts.Render("~/bundles/ng-manage-app")
}
