@model Jobney.Casm.Web.Models.ManageDataBootstrapper

    <ul class="tab-bar grey-tab">
        <li class="active">
            <a href="#overview" data-toggle="tab">
                <span class="block text-center">
                    <i class="fa fa-home fa-2x"></i>
                </span>
                Overview
            </a>
        </li>
        <li>
            <a href="#edit" data-toggle="tab">
                <span class="block text-center">
                    <i class="fa fa-edit fa-2x"></i>
                </span>
                Edit Profile
            </a>
        </li>
        <li>
            <a href="#message" data-toggle="tab">
                <span class="block text-center">
                    <i class="fa fa-envelope fa-2x"></i>
                </span>
                Messages
            </a>
        </li>
    </ul>