<div ng-controller="ManagePilotsCtrl" class="padding-md">
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default table-responsive">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-6 col-sm-6">

                        </div>
                        <div class="col-md-6 col-sm-6">
                            <div class="input-group">
                                <input type="text" class="form-control input-sm">
                                <div class="input-group-btn">
                                    <button type="button" class="btn btn-sm btn-success" tabindex="-1">Search</button>
                                </div> <!-- /input-group-btn -->
                            </div>
                        </div><!-- /.col -->
                    </div><!-- /.row -->
                </div>
                <table class="table table-striped" id="responsiveTable">
                    <thead>
                        <tr>
                            <th></th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Email</th>
                            <th>Phone</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="pilot in pilots">
                            <td>
                                <a ng-click="editPilot(pilot)">
                                    <i class="fa fa-edit"></i>
                                </a>
                            </td>
                            <td>{{pilot.firstName}}</td>
                            <td>{{pilot.lastName}}</td>
                            <td>{{pilot.emailAddress}}</td>
                            <td>{{pilot.phoneNumber}}</td>
                        </tr>
                    </tbody>
                </table>
                <div class="panel-footer clearfix">
                    <span class="label label-info">{{pilots.length}} Pilot</span>
                    <ul class="pagination pagination-xs m-top-none pull-right">
                        <li class="disabled"><a href="#">Previous</a></li>
                        <li class="active"><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li><a href="#">Next</a></li>
                    </ul>
                </div>
            </div><!-- /panel -->
        </div>

        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    {{mode}} Pilot
                    <span ng-show="editing" class="label label-danger pull-right">EDITING</span>
                </div>
                <div class="panel-body">
                    <form ng-submit="savePilot()">
                        <div class="form-group">
                            <label>First Name</label>
                            <input ng-model="activePilot.firstName" type="text" class="form-control input-sm" placeholder="John">
                        </div>
                        <div class="form-group">
                            <label>Last Name</label>
                            <input ng-model="activePilot.lastName" type="text" class="form-control input-sm" placeholder="Doe">
                        </div>
                        <div class="form-group">
                            <label>Email</label>
                            <input ng-model="activePilot.emailAddress" type="email" class="form-control input-sm" placeholder="joe@aol.com">
                        </div>
                        <div class="form-group">
                            <label>Phone</label>
                            <input ng-model="activePilot.phoneNumber" type="text" class="form-control input-sm" placeholder="1-800-551-8900">
                        </div>
                        <button type="submit" class="btn btn-success btn-sm">{{mode}}</button>
                        <button ng-click="cancelEdit()" ng-show="editing" type="button" class="btn-link">Cancel</button>
                    </form>
                </div>
            </div><!-- /panel -->
        </div><!-- /.col -->
    </div>
</div>