@model Jobney.Casm.Web.ViewModels.TripCalendarViewModel

<div class="panel panel-default">
    <div class="panel-heading">
        Calendar Legend
    </div>
    <div class="panel-body p-top-sm">
        <div class="m-top-xs">
            4 - <span class="label label-primary">Citation</span>
        </div>
        <div class="m-top-xs">
            1 - <span class="label label-info">Super King Air</span>
        </div>
        <div class="m-top-xs">
            3 - <span class="label label-danger">Maintenance</span>
        </div>
    </div>
</div><!-- /panel -->