@model Jobney.Casm.Web.ViewModels.TripCalendarViewModel

<ul class="airplane-legend pull-right list-unstyled">
    <li><span class="label label-primary">Citation</span></li>
    <li><span class="label label-info">Super King Air</span></li>
    <li><span class="label label-danger">Maintenance</span></li>
</ul>