<div class="row">
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                Simple Widget

                <ul class="panel-toolbar">
                    <li>
                        <a class="collapse-toggle"><i class="fa fa-chevron-up"></i></a>
                    </li>
                </ul>
            </div>
            <div class="panel-body">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam eros nibh, viverra a dui a, gravida varius velit. Nunc vel tempor nisi. Aenean id pellentesque mi, non placerat mi. Integer luctus accumsan tellus. Vivamus quis elit sit amet nibh lacinia suscipit eu quis purus. Vivamus tristique est non ipsum dapibus lacinia sed nec metus.
            </div>
        </div><!-- /panel -->
        <div class="panel panel-default">
            <div class="panel-body p-top-sm">
                <div class="inline-block m-top-xs">
                    <span class="badge badge-danger">4321</span><strong class="m-left-xs m-right-sm"> Visits</strong>
                </div>
                <div class="inline-block m-top-xs">
                    <span class="badge badge-success">5190</span><strong class="m-left-xs m-right-sm"> Sales</strong>
                </div>
                <div class="inline-block m-top-xs">
                    <span class="badge badge-info">8123</span><strong class="m-left-xs m-right-sm"> Orders</strong>
                </div>
                <div class="inline-block m-top-xs">
                    <span class="badge badge-warning">2351</span><strong class="m-left-xs m-right-sm"> Users</strong>
                </div>
            </div>
        </div><!-- /panel -->
    </div><!-- /.col -->
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                Task
                <span class="badge badge-info pull-right">
                    4 left
                </span>
            </div>

            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Task</th>
                        <th>Progress</th>
                        <th></th>
                        <th>Time</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Bug Fixes</td>
                        <td>
                            <div class="progress progress-striped active" style="height:8px; margin:5px 0 0 0;">
                                <div class="progress-bar" style="width: 45%">
                                    <span class="sr-only">45% Complete</span>
                                </div>
                            </div>
                        </td>
                        <td>45%</td>
                        <td><span class="badge badge-info">2hr</span></td>
                    </tr>
                    <tr>
                        <td>Mobile Development</td>
                        <td>
                            <div class="progress progress-striped active" style="height:8px; margin:5px 0 0 0;">
                                <div class="progress-bar progress-bar-success" style="width: 61%">
                                    <span class="sr-only">61% Complete</span>
                                </div>
                            </div>
                        </td>
                        <td>61%</td>
                        <td><span class="badge badge-info">1hr</span></td>
                    </tr>
                    <tr>
                        <td>Unit Testing</td>
                        <td>
                            <div class="progress progress-striped active" style="height:8px; margin:5px 0 0 0;">
                                <div class="progress-bar progress-bar-danger" style="width: 97%">
                                    <span class="sr-only">97% Complete</span>
                                </div>
                            </div>
                        </td>
                        <td>97%</td>
                        <td><span class="badge badge-info">5m</span></td>
                    </tr>
                    <tr>
                        <td>New Frontend Layout</td>
                        <td>
                            <div class="progress progress-striped active" style="height:8px; margin:5px 0 0 0;">
                                <div class="progress-bar progress-bar-warning" style="width: 18%">
                                    <span class="sr-only">18% Complete</span>
                                </div>
                            </div>
                        </td>
                        <td>18%</td>
                        <td><span class="badge badge-info">12hr</span></td>
                    </tr>
                </tbody>
            </table>
        </div><!-- /panel -->
    </div><!-- /.col-->
</div>

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>