<div class="row">
    <div class="col-md-3">
        <div class="panel panel-default">
            <div class="panel-heading">
                Simple Widget

                <ul class="panel-toolbar">
                    <li>
                        <a class="collapse-toggle"><i class="fa fa-chevron-up"></i></a>
                    </li>
                </ul>
            </div>
            <div class="panel-body">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam eros nibh, viverra a dui a, gravida varius velit. Nunc vel tempor nisi. Aenean id pellentesque mi, non placerat mi. Integer luctus accumsan tellus. Vivamus quis elit sit amet nibh lacinia suscipit eu quis purus. Vivamus tristique est non ipsum dapibus lacinia sed nec metus.
            </div>
        </div><!-- /panel -->
        <div class="panel panel-default">
            <div class="panel-body p-top-sm">
                <div class="inline-block m-top-xs">
                    <span class="badge badge-danger">4321</span><strong class="m-left-xs m-right-sm"> Visits</strong>
                </div>
                <div class="inline-block m-top-xs">
                    <span class="badge badge-success">5190</span><strong class="m-left-xs m-right-sm"> Sales</strong>
                </div>
                <div class="inline-block m-top-xs">
                    <span class="badge badge-info">8123</span><strong class="m-left-xs m-right-sm"> Orders</strong>
                </div>
                <div class="inline-block m-top-xs">
                    <span class="badge badge-warning">2351</span><strong class="m-left-xs m-right-sm"> Users</strong>
                </div>
            </div>
        </div><!-- /panel -->
    </div><!-- /.col -->
    <div class="col-md-9">
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-calendar fa-lg"></i> Calendar
            </div>
            <div class="panel-body">
                <div id="calendar"></div>
            </div>
        </div>
    </div><!-- /.col-->
</div>

@section styles
{
    @Styles.Render("~/Content/css/fullcalendar")
}

@section scripts
{
    @Scripts.Render("~/bundles/fullcalendar")
    <script>
    $(function () {

        // Full calendar
        var date = new Date();
        var d = date.getDate();
        var m = date.getMonth();
        var y = date.getFullYear();

        var calendar = $('#calendar').fullCalendar({
            header: {
                left: 'prev,next today',
                center: 'title',
                right: 'month,agendaWeek,agendaDay'
            },
            selectable: true,
            selectHelper: true,
            select: function (start, end, allDay) {
                var title = prompt('Event Title:');
                if (title) {
                    calendar.fullCalendar('renderEvent',
                        {
                            title: title,
                            start: start,
                            end: end,
                            allDay: allDay
                        },
                        true // make the event "stick"
                    );
                }
                calendar.fullCalendar('unselect');
            },
            editable: true,
            events: [
                {
                    title: 'All Day Event',
                    start: new Date(y, m, 1)
                },
                {
                    title: 'Long Event',
                    start: new Date(y, m, d - 5),
                    end: new Date(y, m, d - 2)
                },
                {
                    id: 999,
                    title: 'Repeating Event',
                    start: new Date(y, m, d - 3, 16, 0),
                    allDay: false
                },
                {
                    id: 999,
                    title: 'Repeating Event',
                    start: new Date(y, m, d + 4, 16, 0),
                    allDay: false
                },
                {
                    title: 'Meeting',
                    start: new Date(y, m, d, 10, 30),
                    allDay: false
                },
                {
                    title: 'Lunch',
                    start: new Date(y, m, d, 12, 0),
                    end: new Date(y, m, d, 14, 0),
                    allDay: false
                },
                {
                    title: 'Birthday Party',
                    start: new Date(y, m, d + 1, 19, 0),
                    end: new Date(y, m, d + 1, 22, 30),
                    allDay: false
                },
                {
                    title: 'Click for Google',
                    start: new Date(y, m, 28),
                    end: new Date(y, m, 28),
                    url: 'http://google.com/'
                }
            ]
        });
    });
</script>
}
